<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Published</th>
      <th scope="col">Meta data</th>
      <th scope="col">Management</th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <th scope="row"><%= page.id %></th>
        <td><%= page.title %></td>
        <td><%= humanize_boolean page.published %></td>
        <td>
          <%=page.meta_title %> <br>
          <%=page.meta_description %> <br>
          <%=page.meta_keywords %>
        </td>
        <td><%= render partial: "admin/panel/management_links", 
              locals: {
                destroy: { name: Page, url: admin_page_path(page) }, 
                show: { name: Page, url: admin_page_path(page) },
                edit: { name: Page, url: edit_admin_page_path(page) } 
                      } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
