<% set_meta_tags(
  title: "Page: #{@page.title}"
) %>

<div class="card" style="margin-bottom: 10px">
  <div class="card-header">
    <%= render partial: "admin/panel/management_links", 
              locals: {
                destroy: { name: Page, url: admin_page_path(@page) }, 
                show: { name: Page, url: admin_page_path(@page) },
                edit: { name: Page, url: edit_admin_page_path(@page) } 
                      } %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @page.title %></li>
    <li class="list-group-item"><%= humanize_boolean @page.published %></li>
    <li class="list-group-item"><%= @page.meta_title %></li>
    <li class="list-group-item"><%= @page.meta_description %></li>
    <li class="list-group-item"><%= @page.meta_keywords %></li>
  </ul>
  <div class="card-body">
    <p class="card-text"><%= @page.body %></p>
  </div>
  <div class="card-footer">
    <%= render partial: "admin/panel/management_links", 
              locals: {
                destroy: { name: Page, url: admin_page_path(@page) }, 
                show: { name: Page, url: admin_page_path(@page) },
                edit: { name: Page, url: edit_admin_page_path(@page) } 
                      } %>
  </div>
</div>
