<%= render partial: "admin/panel/form_errors", locals: { model: @comment } %>

<%= form_with model: @comment, url: url do |f| %>
  <div class="mb-3">
    <%= f.label :body, t("admin.comments.form.body"), class:"form-label" %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :published, t("admin.comments.form.published"), class: 'form-check-label' %>
    <%= f.check_box :published, class: "form-check-input" %>
  </div>
  <div class="mb-3">
    <%= f.label :user_id, t("admin.comments.form.user"), class:"form-label" %>
    <%= f.select :user_id, all_users_name_and_id, {}, class: "form-select" %>
  </div>
  <div class="mb-3">
    <%= f.label :post_id, t("admin.comments.form.post"), class:"form-label" %>
    <%= f.select :post_id, all_posts_title_and_id, {}, class: "form-select" %>
  </div>
  <div class="mb-3">
    <%= f.submit t("admin.comments.form.submit"), class: 'btn btn-primary' %>
  </div>
<% end %>
