<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Body</th>
      <th scope="col">Published</th>
      <th scope="col">Post</th>
      <th scope="col">Management</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <th scope="row"><%= comment.id %></th>
        <td><%= comment.user.name %></td>
        <td><%= comment.user.email %></td>
        <td><%=comment.body %></td>
        <td><%= humanize_boolean comment.published %></td>
        <td><%= link_to comment.post.title, admin_post_path(comment.post) %></td>
        <td><%= render partial: "admin/panel/management_links", 
              locals: {
                destroy: { name: Comment, url: admin_comment_path(comment) }, 
                show: { name: Comment, url: admin_comment_path(comment) },
                edit: { name: Comment, url: edit_admin_comment_path(comment) } 
                      } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
