<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Body</th>
      <th scope="col">Published</th>
      <th scope="col">Post</th>
      <th scope="col">Management</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <th scope="row"><%= comment.id %></th>
        <td><%= comment.name %></td>
        <td><%= comment.email %></td>
        <td><%=comment.body %></td>
        <td><%= comment.published %></td>
        <td><%= link_to comment.post.title, post_path(comment.post) %></td>
        <td><%= render partial: "admin/layouts/management_links", 
              locals: { 
                      url_destroy: admin_comment_path(comment), 
                      url_show: admin_comment_path(comment), 
                      url_edit: edit_admin_comment_path(comment) 
                      } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
