<div class="card" style="margin-bottom: 10px">
  <h2 class="card-header">
    <%= link_to post.title, post_path(post) %>
  </h2>
  <div class="card-body">
    <p class="card-text"><%= post.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= t('blog.posts.show.category') %> <%= link_to post.category.title, category_path(post.category), class: 'card-link' %></li>
    <li class="list-group-item"><%= t('blog.posts.show.author') %> <%= link_to post.user.name, user_profile_path(post.user.name), class: 'card-link' %></li>
  </ul>
</div>
