<% set_meta_tags(
  title: @post.meta_title,
  description: @post.meta_description,
  keywords: @post.meta_keywords,
  canonical: post_url(@post)
) %>
<div class="card" style="margin-bottom: 10px">
  <h1 class="card-header"><%= @post.title %></h1>
  <div class="card-body">
    <p class="card-text"><%= raw @post.body %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= t('.category') %> <%= link_to @post.category.title, category_path(@post.category), class: "card-link" %></li>
    <li class="list-group-item"><%= t('.added') %> <%= @post.date_created %></li>
  </ul>
</div>
<!-- send comment -->
<% if @post.comments_enabled? %>
  <%= render partial: "blog/comments/form", locals: { comment: @new_comment, id: @post.id } %>
<% else %>
  <p>Commenting is disabled.</p>
<% end %>
<!-- comments -->
<div id="comments">
  <% unless @comments.empty? %>
    <% @comments.each do |comment| %>
      <%= render partial: "blog/comments/comment", locals: { comment: comment } %>
    <% end %>
  <% else %>
    <p>There are no comments. Leave a comment and be the first.</p>
  <% end %>
</div>
