<% set_meta_tags(
  title: @post.meta_title,
  description: @post.meta_description,
  keywords: @post.meta_keywords,
  canonical: post_url(@post)
) %>
<div class="card" style="margin-bottom: 10px">
  <h1 class="card-header"><%= @post.title %></h1>
  <div class="card-body">
    <p class="card-text"><%= raw @post.body %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= t('.category') %> <%= link_to @post.category.title, category_path(@post.category), class: "card-link" %></li>
    <li class="list-group-item"><%= t('.added') %> <%= @post.date_created %></li>
    <li class="list-group-item"><%= t('.author') %> <%= link_to @post.admin_user.name, user_profile_path(@post.admin_user.name), class: 'card-link' %></li>
    <li class="list-group-item"><div id="likes"><%= render 'blog/likes/update' %></div></li>
  </ul>
</div>
<!-- send comment -->
<% if @post.comments_enabled? %>
  <% if user_signed_in? %>
    <%= render partial: "blog/comments/form", locals: { url: post_comments_path(@post)} %>
  <% else %>
    <p><%= t('.sign_in_to_comment') %></p>
  <% end %>
<% else %>
  <p><%= t('.disabled_comment') %></p>
<% end %>
<!-- comments -->
<div id="comments">
  <% unless @comments.empty? %>
    <% @comments.each do |comment| %>
      <%= render partial: "blog/comments/comment", locals: { comment: comment } %>
    <% end %>
  <% else %>
    <p><%= t('.there_no_comments') %></p>
  <% end %>
</div>
