<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Name</th>
      <th scope="col">Posts count</th>
      <th scope="col">Management</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_users.each do |admin_user| %>
      <tr>
        <th scope="row"><%= admin_user.id %></th>
        <td><%= admin_user.email %></td>
        <td><%= admin_user.name %></td>
        <td><%= link_to admin_user.posts.count, admin_admin_user_posts_path(admin_user) %></td>
        <td>       <%= render partial: "admin/panel/management_links", 
              locals: {
                destroy: { name: AdminUser, url: admin_admin_user_path(admin_user) }, 
                show: { name: AdminUser, url: admin_admin_user_path(admin_user) },
                edit: { name: AdminUser, url: edit_admin_admin_user_path(admin_user) } 
                      } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
