<%= javascript_include_tag "trix_text", type: "module" %>

<%= form_with model: @post, url: url do |f| %>
  <div class="mb-3">
    <%= f.label "Title: " %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
    <div class="mb-3">
    <%= f.label "Description: " %>
    <%= f.rich_text_area :description, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label "Body: " %>
    <%= f.rich_text_area :body, class: "form-control" %>
  </div>
    <div class="mb-3">
    <%= f.label "Published: ", class: "form-check-label" %>
    <%= f.check_box :published, class: "form-check-input" %>
  </div>
      <div class="mb-3">
    <%= f.label "Comments enabled: ", class: "form-check-label" %>
    <%= f.check_box :comments_enabled, class: "form-check-input" %>
  </div>
  <div class="mb-3">
    <%= f.label "Category: " %>
    <%= f.select :category_id, @categories, {}, class: "form-control" %>
  </div>
  <h2>Meta data: </h2>
  <div class="mb-3">
    <%= f.label "Title: " %>
    <%= f.text_field :meta_title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label "Description: " %>
    <%= f.text_field :meta_description, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label "Keywords: " %>
    <%= f.text_field :meta_keywords, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
