<div class="card" style="margin-bottom: 10px">
  <div class="card-header">
    <%= render partial: "admin/panel/management_links", 
              locals: {
                destroy: { name: Post, url: admin_post_path(@post) }, 
                show: { name: Post, url: admin_post_path(@post) },
                edit: { name: Post, url: edit_admin_post_path(@post) } 
                      } %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @post.title %></li>
    <li class="list-group-item"><%= link_to @post.comments.count, admin_post_comments_path(@post) %></li>
    <li class="list-group-item"><%= humanize_boolean @post.published %></li>
    <li class="list-group-item"><%= humanize_boolean @post.comments_enabled %></li>
    <li class="list-group-item"><%= link_to @post.category.title, admin_category_path(@post.category) %></li>
    <li class="list-group-item"><%= link_to @post.admin_user.name, admin_admin_user_path(@post.admin_user) %></li>
    <li class="list-group-item"><%= @post.meta_title %></li>
    <li class="list-group-item"><%= @post.meta_description %></li>
    <li class="list-group-item"><%= @post.meta_keywords %></li>
  </ul>
  <div class="card-body">
    <p class="card-text"><%= @post.description %></p>
  </div>
  <div class="card-body">
    <p class="card-text"><%= @post.body %></p>
  </div>
  <div class="card-footer">
    <%= render partial: "admin/panel/management_links", 
              locals: {
                destroy: { name: Post, url: admin_post_path(@post) }, 
                show: { name: Post, url: admin_post_path(@post) },
                edit: { name: Post, url: edit_admin_post_path(@post) } 
                      } %>
  </div>
</div>
