<%= javascript_include_tag "trix_text", type: "module" %>

<%= form_with model: @category, url: url do |f| %>
  <div class="mb-3">
    <%= f.label :title, t('admin.categories.form.title'), class:"form-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :description, t('admin.categories.form.description'), class:"form-label" %>
    <%= f.rich_text_area :description, class: "form-control" %>
  </div>
  <h2><%= t('admin.categories.form.meta') %></h2>
  <div class="mb-3">
    <%= f.label :meta_title, t('admin.categories.form.meta_title'), class:"form-label" %>
    <%= f.text_field :meta_title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :meta_description, t('admin.categories.form.meta_description'), class:"form-label" %>
    <%= f.text_field :meta_description, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :meta_keywords, t('admin.categories.form.meta_keywords'), class:"form-label" %>
    <%= f.text_field :meta_keywords, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.submit t('admin.categories.form.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>
