<% set_meta_tags(
  title: t('.meta.title'),
) %>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t('.table.number') %></th>
      <th scope="col"><%= t('.table.title') %></th>
      <th scope="col"><%= t('.table.posts') %></th>
      <th scope="col"><%= t('.table.meta') %></th>
      <th scope="col"><%= t('.table.management') %></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <th scope="row"><%= category.id %></th>
      <td><%= category.title %></td>
      <td><%= link_to category.posts.count, admin_category_posts_path(category) %></td>
      <td>
        <%= category.meta_title %> <br>
        <%= category.meta_description %> <br>
        <%= category.meta_keywords %>
      </td>
      <td>          <%= render partial: "admin/panel/management_links", 
              locals: {
                destroy: { name: Category, url: admin_category_path(category) }, 
                show: { name: Category, url: admin_category_path(category) },
                edit: { name: Category, url: edit_admin_category_path(category) } 
                      } %></td>
    </tr>
    <% end %>
  </tbody>
</table>