<% set_meta_tags(
  title: "Category: #{@category.title}"
) %>

<div class="card" style="margin-bottom: 10px">
  <div class="card-header">
    <%= render partial: "admin/panel/management_links", 
              locals: {
                destroy: { name: Category, url: admin_category_path(@category) }, 
                show: { name: Category, url: admin_category_path(@category) },
                edit: { name: Category, url: edit_admin_category_path(@category) } 
                      } %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @category.title %></li>
    <li class="list-group-item"><%= link_to @category.posts.count, admin_category_posts_path(@category) %></li>
    <li class="list-group-item"><%= @category.meta_title %></li>
    <li class="list-group-item"><%= @category.meta_description %></li>
    <li class="list-group-item"><%= @category.meta_keywords %></li>
  </ul>
  <div class="card-body">
    <p class="card-text"><%= @category.description %></p>
  </div>
  <div class="card-footer">
    <%= render partial: "admin/panel/management_links", 
              locals: {
                destroy: { name: Category, url: admin_category_path(@category) }, 
                show: { name: Category, url: admin_category_path(@category) },
                edit: { name: Category, url: edit_admin_category_path(@category) } 
                      } %>
  </div>
</div>
