<div class="card" style="margin-bottom: 10px">
  <%= link_to post do %>
    <h2 class="card-header"><%= post.title %></h2>
  <% end %>
  <div class="card-body">
    <p class="card-text"><%= post.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= t('posts.show.category') %> <%= link_to post.category.title, category_path(post.category), class: 'card-link' %></li>
  </ul>
</div>
