<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= display_meta_tags(site: t('site.name'), reverse: true) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'admin' %>
    <%= javascript_include_tag 'admin' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <p style="color: green"><%= notice %></p>
      <p style="color: red"><%= alert %></p>
      <!--admin panel-->
      <%= render 'admin/panel/admin_menu' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
